
<form id="search-username-form" class="search-username-form" method="GET" action="/searchUsername">
    <div class="search-username-form-input-container">
        <label for="search-username-input"></label>
        <input type="search" id="search-username-input" class="search-username-input" name="searchUsernameInput" placeholder="Search username...">
    </div>

    <button type="submit">Search</button>
</form>

