<%- include('deleteAllUsernames') %>
<% if (data && data.length > 0) { %>
    <ul>
        <% data.forEach((userObj) => { %>
            <li><%= userObj.username %></li>
        <% }) %>
    </ul> 
<% } %>
<script src="/js/handleDeleteAllUsernames.js"></script>